In [ ]:
# import kagglehub

# # Download latest version
# path = kagglehub.dataset_download("shivam2503/diamonds")

# print("Path to dataset files:", path)

/home/sutemou/code/mlka/.venv/lib/python3.14/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading to /home/sutemou/.cache/kagglehub/datasets/shivam2503/diamonds/1.archive...

100%|██████████| 733k/733k [00:00<00:00, 1.34MB/s]

Extracting files...
Path to dataset files: /home/sutemou/.cache/kagglehub/datasets/shivam2503/diamonds/versions/1

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('diamonds.csv')

df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [4]:
df.tail()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [6]:
df.sample(5)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
43306,43307,0.50,Very Good,F,VS2,62.8,57.0,1402,5.05,5.08,3.18
48027,48028,0.57,Ideal,H,VS1,61.0,57.0,1922,5.37,5.34,3.26
31771,31772,0.32,Premium,F,VS2,58.8,62.0,773,4.48,4.43,2.62
39482,39483,0.41,Ideal,E,VS1,62.7,57.0,1079,4.72,4.76,2.97
33819,33820,0.32,Ideal,E,VVS2,60.8,57.0,842,4.42,4.46,2.70

## x length in mm (0--10.74)

## y width in mm (0--58.9)

## z depth in mm (0--31.8)

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,53940.0,26970.500000,15571.281097,1.0,13485.75,26970.50,40455.25,53940.00
carat,53940.0,0.797940,0.474011,0.2,0.40,0.70,1.04,5.01
depth,53940.0,61.749405,1.432621,43.0,61.00,61.80,62.50,79.00
table,53940.0,57.457184,2.234491,43.0,56.00,57.00,59.00,95.00
price,53940.0,3932.799722,3989.439738,326.0,950.00,2401.00,5324.25,18823.00
x,53940.0,5.731157,1.121761,0.0,4.71,5.70,6.54,10.74
y,53940.0,5.734526,1.142135,0.0,4.72,5.71,6.54,58.90
z,53940.0,3.538734,0.705699,0.0,2.91,3.53,4.04,31.80

In [ ]:
# Тепловая карта корреляций
plt.figure(figsize=(6, 4))
sns.heatmap(df.corr(), annot=True, fmt='.2f', cmap='coolwarm')
plt.title('Тепловая карта корреляций')
plt.show()

ValueError: could not convert string to float: 'Ideal'